<!DOCTYPE html>
<html lang="en">
{% include 'header.html' %}
<body>

<div class="jumbotron">
    <div class="container">
        <h1>心情盒子</h1><p>留下你的脚印，回顾心路历程...</p>
    </div>
    {% include 'post.html' %}
</div>


    <div class="container-fluid">
        <div class="post col-lg-12">
            <div class="post-img col-lg-8">
                <img class="col-lg-12" src="{{STATIC_URL}}img/slide-1.jpg" alt="">
            </div>
            <div class="post-text col-lg-4 text-center">
                <h3>心情啦啦啦啦</h3>
                <h3>
                    <small>October 13, 2013</small>
                </h3>
                <!-- <a href="#" class="btn btn-default btn-lg">Read More</a> -->
            </div>
            <hr>
        </div>
        
        <div class="post col-lg-12">
            <div class="post-img col-lg-8">
                <img class="col-lg-12" src="{{STATIC_URL}}img/slide-2.jpg" alt="">
            </div>
            <div class="post-text col-lg-4 text-center">
                <h3>听说颢神考试挂了好开心啊</h3>
                <h3>
                    <small>October 13, 2014</small>
                </h3>
                <!-- <a href="#" class="btn btn-default btn-lg">Read More</a> -->
            </div>
            <hr>
        </div>

        <div class="post col-lg-12">
            <div class="post-img col-lg-8">
                <img class="col-lg-12" src="{{STATIC_URL}}img/slide-3.jpg" alt="">
            </div>
            <div class="post-text col-lg-4 text-center">
                <h3>有点不开心啊.</h3>
                <h3>
                    
                    <small>October 13, 2015</small>
                </h3>
                <!-- <a href="#" class="btn btn-default btn-lg">Read More</a> -->
            </div>
            <hr>
        </div>

        <div class="col-lg-12 text-center">
            <ul class="pager">
                <li class="previous"><a href="#">&larr; Older</a>
                </li>
                <li class="next"><a href="#">Newer &rarr;</a>
                </li>
            </ul>
        </div>

    </div>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p>Copyright &copy; Your Website 2014</p>
                </div>
            </div>
        </div>
    </footer>

{% include 'footer.html' %}


</body>

</html>