<!doctype>
<html>

{% include 'header.html' %}

<body>
<div class="page-header col-lg-6 col-lg-offset-3 text-center">
  <h1><small>登陆</small> 心情盒子</h1>
  
</div>

<div class="col-lg-6 col-lg-offset-3 col-md-12">
    <div class="call-to-action bg-default">
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <input id="name" type="text" class="form-control" placeholder="用户名 *">
                </div><!-- /input-group -->
            </div><!-- /.col-lg-6 -->
            <div class="col-lg-6">
                <div class="form-group">
                    <input id="pwd" type="password" class="form-control" placeholder="密码 *">
                </div><!-- /input-group -->
            </div><!-- /.col-lg-6 -->
        </div><!-- /.row -->
        <div class="col-lg-12 text-center">
            <a type="button" id="login-btn" class="btn btn-primary">登陆</a>
            <a type="button" href="/" class="btn btn-default">返回</a>
        </div>
    </div>
</div>

{% include 'footer.html' %}

<script type="text/javascript">
$(document).ready(function() {
    $('#login-btn').click(function() {
        var name, pwd;
        name = $('#name').val(),
        pwd = $('#pwd').val();
        register(name, pwd);
    })
})
</script>

</body>
</html>