<!doctype>
<html>

{% include 'header.html' %}

<body>
<div class="page-header col-lg-6 col-lg-offset-3 text-center">
  <h1><small>登陆</small> 心情盒子</h1>
  
</div>

<div class="col-lg-6 col-lg-offset-3 col-md-12">
    <div class="call-to-action bg-default">
        <div class="row">
            <form method="POST" action="/login/" class="col-lg-12">
                <div class="col-lg-6">
                    <input name="name" type="text" class="form-control" placeholder="用户名 *">
                </div><!-- /input-group -->
                <div class="col-lg-6">
                    <input name="pwd" type="password" class="form-control" placeholder="密码 *">
                </div><!-- /input-group -->
                <br>
                <input type="submit" class="btn btn-primary" placeholder="登陆">
                
            </form><!-- /.col-lg-6 -->
        </div><!-- /.row -->
    </div>
</div>

{% include 'footer.html' %}

<script type="text/javascript">
// $(document).ready(function() {
//     $('#login-btn').click(function() {
//         var name, pwd;
//         name = $('#name').val(),
//         pwd = $('#pwd').val();
//         login(name, pwd);
//     });
//     $('#reg-btn').click(function() {
//         var name, pwd;
//         name = $('#name').val(),
//         pwd = $('#pwd').val();
//         register(name, pwd);
//     })
// })
</script>

</body>
</html>