<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  发心情
</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">心情</h4>
      </div>
      <div class="modal-body">
        <div class="form">
          <input id="img" type="file" class="form-control row" style="margin-left:5px">
          <input id="text" type="text" class="form-control row" style="margin-top:10px;margin-left:5px">
        </div>
		<canvas id="image" width="625" height="500" style="margin-top:10px;margin-left:5px"></canvas>
		<div class="btn-group btn-group-justified">
			<div class="btn-group"><button type="button" id="angry" class="btn btn-danger">生气</button></div>
			<div class="btn-group"><button type="button" id="sad" class="btn btn-primary">忧伤</button></div>
			<div class="btn-group"><button type="button" id="happy" class="btn btn-success">开心</button></div>
			<div class="btn-group"><button type="button" id="surprised" class="btn btn-warning">惊讶</button></div>
		</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="button" id="post" class="btn btn-primary">发送</button>
      </div>
    </div>
  </div>
</div>