<script src="{{STATIC_URL}}js/vendors/utils.js"></script>
<script src="{{STATIC_URL}}js/vendors/dat.gui.min.js"></script>
<script src="{{STATIC_URL}}js/vendors/numeric-1.2.6.min.js"></script>
<script src="{{STATIC_URL}}js/vendors/mosse.js"></script>
<script src="{{STATIC_URL}}js/vendors/jsfeat-min.js"></script>
<script src="{{STATIC_URL}}js/vendors/frontalface.js"></script>
<script src="{{STATIC_URL}}js/vendors/jsfeat_detect.js"></script>
<script src="{{STATIC_URL}}js/vendors/left_eye_filter.js"></script>
<script src="{{STATIC_URL}}js/vendors/right_eye_filter.js"></script>
<script src="{{STATIC_URL}}js/vendors/nose_filter.js"></script>
<script src="{{STATIC_URL}}js/vendors/models/model_pca_20_svm.js"></script>
<script src="{{STATIC_URL}}js/vendors/clm.js"></script>
<script src="{{STATIC_URL}}js/vendors/svmfilter_webgl.js"></script>
<script src="{{STATIC_URL}}js/vendors/svmfilter_fft.js"></script>
<script src="{{STATIC_URL}}js/vendors/mossefilter.js"></script>

<script src="{{STATIC_URL}}js/vendors/clmtrackr.js"></script>
<script src="{{STATIC_URL}}js/vendors/models/model_pca_20_svm_emotionDetection.js"></script>
<script src="{{STATIC_URL}}js/vendors/d3.min.js"></script>
<script src="{{STATIC_URL}}js/vendors/emotion_classifier.js"></script>
<script src="{{STATIC_URL}}js/vendors/emotionmodel.js"></script>

<script src="{{STATIC_URL}}js/vendors/jquery.imgareaselect.pack.js"></script>
<script src="{{STATIC_URL}}js/vendors/BlobBuilder.min.js"></script>
<script src="{{STATIC_URL}}js/vendors/Filesaver.min.js"></script>
