<!doctype>
<html lang="en">
<head>
{% include "header.html" %}
</head>
<body>
<div class="page-header col-lg-6 col-lg-offset-3 text-center">
  <h1>心情轴</h1>
  
</div>

<div class="col-lg-6 col-lg-offset-3 col-md-12">
  <div class="call-to-action bg-default">
    <div class="row">
      <div class="col-lg-12 login-form">
        <div class="col-lg-4">
          <input id="username" type="text" class="form-control" placeholder="用户名 *" autocomplete="off">
        </div><!-- /input-group -->
        <div class="col-lg-4">
          <input id="password" type="password" class="form-control" placeholder="密码 *" autocomplete="off">
        </div><!-- /input-group -->
        
        <button class="btn btn-default" id="login-btn">登陆</button>
        <button class="btn btn-primary" id="reg-btn">注册</button>
      </div>
      <!-- </form> -->
    </div><!-- /.row -->
  </div>
</div>

{% include "footer.html" %}

<script type="text/javascript">
$(document).ready(function() {
  $('#login-btn').click(function() {
    var username, password;
    username = $('#username').val(),
    password = $('#password').val()
    $.post('/login/', {
      username: username,
      password: password
    }, function(ret) {
      // console.log(ret)
      location.href = '/mood/'
    })
  });
  $('#reg-btn').click(function() {
    var username, password;
    username = $('#username').val(),
    password = $('#password').val();
    $.post('/reg/', {
      username: username,
      password: password
    }, function(ret) {
      // console.log(ret)
      location.href = '/mood/'
    })
  })
})
</script>

</body>
</html>