<div class="modal fade" id="moodModal" tabindex="-1" role="dialog" aria-labelledby="moodModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="moodModalLabel">心情</h4>
      </div>
      <div class="modal-body post-form">
        <input type="file" id="img" name="img" class="form-control sr-only" >
        <textarea id="text" name="text" type="text" class="form-control" rows="5"></textarea>
      </div>

      <div class="modal-footer">
        <button class="btn btn-default" data-dismiss="modal">取消</button>
        <button id="post-btn" class="btn btn-primary">发送</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="photoModal" tabindex="-1" role="dialog" aria-labelledby="bookModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="bookModalLabel">照片</h4>
      </div>
      <div class="modal-body post-form">
        <input type="file" id="img" name="img" class="form-control sr-only" >
        <textarea id="text" name="text" type="text" class="form-control" rows="5"></textarea>
      </div>
      
      <div class="btn-group btn-group-justified">
        <div class="btn-group"><button type="button" id="angry" name="angry"class="btn btn-danger" value="0">生气</button></div>
        <div class="btn-group"><button type="button" id="sad" name="sad"class="btn btn-primary" value="0">忧伤</button></div>
        <div class="btn-group"><button type="button" id="happy" name="happy" class="btn btn-success" value="0">开心</button></div>
        <div class="btn-group"><button type="button" id="surprised" name="surprised" class="btn btn-warning" value="0">惊讶</button></div>
      </div>

      <div class="modal-footer">
        <button class="btn btn-default" data-dismiss="modal">取消</button>
        <button id="post-btn" class="btn btn-primary">发送</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="bookModal" tabindex="-1" role="dialog" aria-labelledby="bookModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="bookModalLabel">心情</h4>
      </div>
      <div class="modal-body post-form">
        <input type="file" id="img" name="img" class="form-control sr-only" >
        <textarea id="text" name="text" type="text" class="form-control" rows="5"></textarea>
      </div>
      
      <div class="modal-footer">
        <button class="btn btn-default" data-dismiss="modal">取消</button>
        <button id="post-btn" class="btn btn-primary">发送</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="musicModal" tabindex="-1" role="dialog" aria-labelledby="musicModalLabl" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="musicModalLabl">歌词</h4>
      </div>
      <div class="modal-body post-form">
        <input type="file" id="img" name="img" class="form-control sr-only" >
        <textarea id="text" name="text" type="text" class="form-control" rows="5"></textarea>
      </div>
      
      <div class="modal-footer">
        <button class="btn btn-default" data-dismiss="modal">取消</button>
        <button id="post-btn" class="btn btn-primary">发送</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="movieModal" tabindex="-1" role="dialog" aria-labelledby="movieModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="movieModalLabel">电影</h4>
      </div>
      <div class="modal-body post-form">
        <input type="file" id="img" name="img" class="form-control sr-only" >
        <textarea id="text" name="text" type="text" class="form-control" rows="5"></textarea>
      </div>

      <div class="modal-footer">
        <button class="btn btn-default" data-dismiss="modal">取消</button>
        <button id="post-btn" class="btn btn-primary">发送</button>
      </div>
    </div>
  </div>
</div>

